@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", serif;
}

.home {
  background-color: #eedcda;
  height: 95vh;
}

.btns {
  background-image: linear-gradient(
    to right top,
    rgb(251, 207, 232),
    rgb(245, 135, 151),
    rgb(159, 18, 57)
  );
}
